@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        @apply m-0 p-0 bg-white text-slate-900 antialiased;
    }

    #root {
        @apply w-full min-h-screen;
    }
}

@layer components {
    .app-container {
        @apply max-w-[1316px] mx-auto px-4 sm:px-6 lg:px-8;
    }
}