body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.login-bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.login-wrapper {
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.login-card {
    background: white;
    padding: 23px 50px;
    border-radius: 12px;
    width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Typography & Links (Giữ nguyên) */
.login-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
}

.login-btn-group {
    gap: 10px;
}


.link-text {
    color: #666;
    font-size: 14px;
    font-weight: 500;
}

.link-text:hover {
    color: #333;
}

.link-sm {
    font-size: 13px;
    color: #666;
}

.link-highlight {
    color: #333;
    font-weight: 600;
}

.link-highlight:hover {
    text-decoration: underline;
}

.text-muted {
    color: #888;
    font-size: 13px;
}

/* Input Override */
.form-control {
    border-radius: 6px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    padding: 12px;
}