.quiz-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    padding: 20px 0;
}

.card {
    background: var(--white);
    border-radius: var(--radius);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: var(--shadow);
    transition: transform 0.2s;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__body {
    padding: 0px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.card__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
}

.card__time {
    font-size: 12px;
    color: var(--text-light);
    background: #f0f0f0;
    padding: 2px 6px;
    border-radius: 4px;
}

.card__desc {
    font-size: 14px;
    color: var(--text-light);
    margin-bottom: 10px;
    flex-grow: 1;
    line-height: 1.5;
}

.btn--full {
    width: 100%;
    display: block;
    text-align: center;
}