.icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    /* Icon sẽ ăn theo màu text của cha */
    flex-shrink: 0;
}

/* Sizes */
.icon--sm {
    width: 16px;
    height: 16px;
}

.icon--md {
    width: 20px;
    height: 20px;
}

.icon--lg {
    width: 24px;
    height: 24px;
}

.icon--xl {
    width: 32px;
    height: 32px;
}

/* Icon Wrapper (Dùng cho avatar hoặc nút tròn) */
.icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    background-color: transparent;
}

.icon-wrapper--bg {
    background-color: var(--primary-light);
    color: var(--primary-color);
    width: 40px;
    height: 40px;
}